body {
    background-image: url("../img/pattern.jpg");
    margin: 0;
    padding: 0;
}

header {
    margin: 0 auto;
    background-color: white;
    display: flex;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav li {
    text-align: right;
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: darkblue;
    font-weight: bold;
}

nav a:hover {
    font-weight: bold;
    color: lightskyblue
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

h3 {
    margin-top: 40px;
}

section {
    background: white;
    width: 70%;
    height: auto;
    margin: 10 auto;
    padding: 20px;
}

footer {
    padding: 5px;
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
}

button a {
    text-decoration: none;
}

input,
textarea
{
    width: 50%;
    display: inline-block;
    /* border-radius: 5px; */
}

#about button {
    margin-left: 20px;
}

#contact div {
    margin-bottom: 20px;
}

#field span{
    display: inline-block;
    width: 20%;
}

#gender input{
    width: 0%;
    margin-left: 20%
}

#gender div {
    margin-bottom: 5px;
}

.submit {
    width: 65px;
}

