body {
    width: 35%;
    padding: 10px;
    margin: 20px;
}

h1 { 
    text-align: center;
}

form {
    padding: 30px;
}

label {
    margin-right: 2px;
}

button {
    border-radius: 10px;
}

input {
    margin-left: 20px;
}

.checkbox {
    display: flex;
    align-items: flex-end; 
    margin-top: 20px;
}

.checkbox div {
    margin-left: 40px;
}

#card {
    border-style: solid;
    border-radius: 10px;
}